<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Symfony2</title>
<link rel="stylesheet" href="../../reveal.js/css/reveal.css">
<link rel="stylesheet" href="../../reveal.js/css/theme/black.css" id="theme">
<link rel="stylesheet" href="../../reveal.js/lib/css/zenburn.css">
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/custom.css">
<!-- Printing and PDF exports -->
<script>
var link  = document.createElement( 'link' );
link.rel  = 'stylesheet';
link.type = 'text/css';
link.href = window.location.search.match( /print-pdf/gi ) ? '../../reveal.js/css/print/pdf.css' : '../../reveal.js/css/print/paper.css';
document.getElementsByTagName( 'head' )[0].appendChild( link );
</script>
</head>
<body>
<div class="reveal">
<div class="slides">
  <section>
    <section>
      <h1 class="title">Symfony 2 basics</h1>
      <p class="me">Maxence POUTORD</p>
      <p class="me-link">
        <a href="https://twitter.com/_maxpou"><i class="fa fa-twitter"></i> @_maxpou</a> |
        <a href="http://www.maxpou.fr/"><i class="fa fa-globe"></i> maxpou.fr</a> |
        <a href="mailto:maxence.poutord@gmail.com"><i class="fa fa-envelope-o"></i> maxence.poutord@gmail.com</a>
      </p>
    </section>
    <section>
      <h2>RevealJS Tips</h2>
      <ul>
        <li>ESC: slide overview</li>
        <li>ALT + click: zoom</li>
        <li>B: blackout</li>
        <li>S: speaker notes</li>
        <li><a href="?print-pdf">Print (then ctrl + p)</a></li>
      </ul>
    </section>
  </section>
  <section>
  	<h2>Goals</h2>
  	<ul>
  		<li>PHP OOP (recalls)</li>
  		<li>Discovering the basics of Symfony2 and his components (Twig, Doctrine, ...)</li>
  		<li>Realize a web app with Symfony2&amp;MySQL</li>
  	</ul>
  </section>
  <section>
    <section>
      <h2>PHP OOP</h2>
    </section>
    <section>
      <h2>POPO: Plain Old PHP Object</h2>
      <div class='span6 fragment'>
<pre><code data-trim contenteditable>
class Drink
{
  protected $id;
  protected $name;
  protected $description;

  public function __construct() {
    //...
  }
}
</code></pre>
      </div>
      <div class='span6 fragment'>
<pre><code data-trim contenteditable>
class Beer extends Drink
{
  protected $alcohol;
  protected $color;
  protected $type;

  public function __construct() {
    //...
  }

  public function drinkIt() {
    echo "glug glug";
  }
}
      </div>
</code></pre>
    </section>
    <section>
      <h2>Getter/Setter</h2>
<pre><code data-trim contenteditable>
class Beer
{
  private $color;
  //...

  public function getColor() {
      return $this->id;
  }

  public function setColor($color) {
    $this->color = $color;
  }
}
</code></pre>
    </section>
    <section>
      <h2>Instanciate new class</h2>
<pre><code data-trim contenteditable>
class Beer
{
  //...
}
$myBeer = new Beer();
$myBeer->drinkIt(); //will output "glug glug"
$myBeer->setColor("blond");
$color = $myBeer->getColor();
</code></pre>
    </section>
    <section>
      <h2>Visibility</h2>
      <ul>
        <li>public</li>
        <li>protected</li>
        <li>private</li>
      </ul>
      <p><img data-src="img/publicprivateprotected.jpg" style="border:10px solid #FFFFFF; box-shadow: 1px 1px 12px #555;"></p>
    </section>
    <section>
      <h2>Further reading</h2>
      <ul>
        <li class="list-unstyled"><a href="http://www.php.net/manual/en/language.oop5.basic.php"><i class="fa fa-book"></i> OOP Basic</a></li>
        <li class="list-unstyled"><a href="http://php.net/manual/fr/language.namespaces.php"><i class="fa fa-book"></i> Namespaces</a></li>
        <li class="list-unstyled"><a href="https://www.codecademy.com/courses/web-beginner-en-bH5s3/0/1"><i class="fa fa-line-chart"></i> Codecademy "PHP OOP"</a></li>
      </ul>
    </section>
    <section>
      <h2>Design Anti-Pattern: Singleton</h2>
<pre><code data-trim contenteditable>
class MySingleton
{
    protected static $instance;
    protected function __construct() { }

    public static function getInstance()
    {
        if (!isset(self::$instance)) {
            self::$instance = new self;
        }

      return self::$instance;
    }
}
</code></pre>
    </section>
    <section id="di-pattern">
      <h2>Design Pattern: Dependency Injection</h2>
      <p class="lead fragment">
        Hollywood Principle: <em>"Don't call us, we'll call you"</em>
      </p>
      <p class="fragment"><img data-src="img/dependency-injection-golf.png" style="border:none;"></p>
    </section>
  </section>
  <section>
    <section>
      <h2>Why should I use Framework ?</h2>
      <ul>
        <li>Velocity: work <b>better</b> (structuring developments) &amp; <b>faster</b> (reusing generic modules, code generation...)</li>
        <li>Facilitate long-term maintenance</li>
        <li>Improve security</li>
      </ul>
      <a href="http://www.maxpou.fr/utilisez-un-framework-php/">[FR] Utilisez un framework PHP</a>
    </section>
    <section>
      <h2>Why Symfony2 ?</h2>
      <ul>
        <li>#1 in France (<i class="fa fa-long-arrow-right"></i> employment)</li>
        <li>Use best practices</li>
        <li>Open Source</li>
        <li>Bundle: reusable components</li>
        <li>Debug toolbar <i>(killer feature)</i></li>
      </ul>
      <p class="center"><img data-src="img/toolbar.png" style="border:none;"></p>
      <p>
        Projects using Symfony: Drupal, Laravel, eZ Publish, Magento, BlaBlaCar, You****<em>(You-Know-Who)</em>
      </p>
    </section>
  </section>
  <section>
    <section>
      <h2>Symfony2</h2>
      <p><img data-src="img/symfony2-logo.png" style="border:20px solid #FFF; background-color: #FFF"></p>
    </section>
    <section>
      <h2>What is Symfony2 ?</h2>
      <blockquote cite="http://symfony.com/what-is-symfony">
        « Symfony is a set of PHP Components, a Web Application framework, a Philosophy, and a Community — all working together in harmony. »
      </blockquote>
    </section>
    <section>
      <h2>Bundle concept</h2>
      <ul>
        <li>Bundle = Plugin</li>
        <li><em>"Everything is a bundle in Symfony"</em></li>
        <p class="center"><img data-src="img/bundle-lego.png" style="border:none; width: 60%;"></p>
      </ul>
    </section>
    <section>
      <h2>Symfony2 MVC approach</h2>
      <p><img data-src="img/request-workflow.png" style="border:35px solid #FFF; background-color: #FFF; min-width:100%;"></p>
      <p class="fragment">
        So, Symfony2 is a <b>MVC</b> Framwork ? <span6 class="fragment" style="color:#E60000; font-size:100px"><b>NO!</b></span6>
      </p>
      <aside class="notes">
        <a href="http://fabien.potencier.org/what-is-symfony2.html#is-symfony2-an-mvc-framework">Why SF is not a realy MVC Framwork</a>
      </aside>
    </section>
    <section>
      <h2>Composer</h2>
      <ul>
        <li>Tool for dependency management in PHP (Like node's npm, ruby's bundler...)</li>
        <p class="center"><img data-src="img/logo-composer.png" style="border:none; width: 20%;"></p>
      </ul>
        <li class="list-unstyled"><a href="https://getcomposer.org/doc/00-intro.md#installation-linux-unix-osx"><i class="fa fa-book"></i> Installation (Linux/OSX)</a></li>
        <li class="list-unstyled"><a href="https://getcomposer.org/doc/00-intro.md#installation-windows"><i class="fa fa-book"></i> Installation (Windows)</a></li>
    </section>
    <section>
      <h2>RTFM</h2>
      <ul>
        <li class="list-unstyled"><a href="http://symfony.com/doc/current/book/index.html"><i class="fa fa-book"></i> Level 0: The Symfony Book</a></li>
        <li class="list-unstyled"><a href="http://symfony.com/doc/current/cookbook/index.html"><i class="fa fa-book"></i> Level 1: The Symfony Cookbook</a></li>
        <li class="list-unstyled"><a href="http://symfony.com/doc/current/best_practices/index.html"><i class="fa fa-book"></i> Level 2: Symfony Best Practices</a></li>
      </ul>
    </section>
    <section>
      <h2>Getting started</h2>
      <pre><code data-trim contenteditable>
# 1. install Symfony Installer (Linux/OS X)
$ sudo curl -LsS http://symfony.com/installer -o /usr/local/bin/symfony
$ sudo chmod a+x /usr/local/bin/symfony
# 1. install Symfony Installer (Windows)
$ php -r "file_put_contents('symfony', file_get_contents('http://symfony.com/installer'));"

# Download&Install Symfony
$ symfony new beerApp
# OR (choose a version)
$ symfony new beerApp 2.8

# 3. Create the first bundle
$ php app/console generate:bundle --format=yml
      </code></pre>
    </section>
    <section>
      <h2>Symfony 2 Architecture</h2>
      <p>
        4 Folders:
      </p>
      <ul>
        <li>app: application configuration, layout templates...</li>
        <ul>
          <li>AppKernel.php: register bundle</li>
        </ul>
        <li>src: project's PHP code (yours bundles)</li>
        <li>vendor: Dependencies (other bundles) - <b>Read only !</b></li>
        <li>web: web root directory</li>
        <ul>
          <li>app.php: production endpoint</li>
          <li>app_dev.php: development endpoint</li>
        </ul>
      </ul>
    </section>
  </section>
  <section>
    <section>
      <h2>Symfony2's components</h2>
      <p><img data-src="img/toolbox.png" style="border:none;"></p>
    </section>
    <section>
      <h2>Controller</h2>
      <p class="center"><b>Request</b> to <b>Response</b></p>
      <p><img data-src="img/request-flow.png" style="border:none; min-width:100%;"></p>
    </section>
    <section>
      <h2>Routing</h2>
      <pre><code data-trim contenteditable>
# app/config/routing
conserto_beer:
    resource: "@ConsertoBeerBundle/Resources/config/routing.yml"
    prefix:   /

# src/Conserto/BeerBundle/Resources/config/routing.yml
conserto_beer_show:
    path:     /{id}/show
    defaults: { _controller: "ConsertoBeerBundle:Beer:show" }

conserto_beer_update:
    path:     /{id}/update
    defaults: { _controller: "ConsertoBeerBundle:Beer:update" }
    methods:  [POST, PUT]
      </code></pre>
        <p class="text-left"><i class="fa fa-map-signs"></i> Lost ?</p>
        <pre><code data-trim contenteditable>
$ php app/console debug:router
$ php app/console router:match /beer/4/show
        </code></pre>
    </section>
    <section>
      <h2>Routing advanced</h2>
      <pre><code data-trim contenteditable>
beer_show:
  path:     /beers/{_locale}/{brand}/{name}.{_format}
  defaults: { _controller: ConsertoBundle:Beer:show, _format: html }
  schemes:  [https]
  requirements:
      _locale:  en|fr
      _format:  html|rss
      year:     \d+
      </code></pre>
      <p><i class="fa fa-book"></i> <a href="http://symfony.com/doc/current/book/routing.html">Routing (Symfony Book)</a></p>
    </section>
    <section data-background="img/twig-logo.png">
      <h2>Twig</h2>
      <p>In a nutshell:</p>
      <ul>
        <li>PHP/HTML separation</li>
        <li>More readable syntax</li>
        <li>Add security</li>
        <li>Fully documented (<a href="http://twig.sensiolabs.org">http://twig.sensiolabs.org</a>)</li>
      </ul>
  <pre class="fragment"><code data-trim contenteditable>
//Before
<p>&lt;?php echo $var; ?&gt;</p>
  </code></pre><pre class="fragment"><code data-trim contenteditable>
{# After #}
<p>{{ var }}</p>
  </code></pre>
    </section>
    <section>
      <h2>Twig: before/after</h2>
<pre class="sticky"><code data-trim contenteditable>
<!-- Before -->
&lt;ul&gt;
&lt;?php
if (count($beers) &gt; 0) {
    foreach ($beers as $aBeer) {
        echo "&lt;li&gt;".$aBeer-&gt;name." have ".$aBeer-&gt;alcohol." alcohol degree&lt;/li&gt;";
    }
} else {
    echo "&lt;li&gt;<em>no beer found</em>&lt;/li&gt;";
}
?&gt;
&lt;/ul&gt;
</code></pre><pre class="fragment sticky"><code data-trim contenteditable>
<!-- After -->
<ul>
    {% for aBeer in beers %}
        <li>{{ aBeer.name }} have {{ aBeer.alcohol }} alcohol degree</li>
    {% else %}
        <li><em>no beer found</em></li>
    {% endfor %}
</ul>
      </code></pre>
    </section>
    <section>
  		<h2>TWIG: filters</h2>
  		<pre><code data-trim contenteditable>
{{ "now"|date("m/d/Y") }} // 2/11/2015

{{ 'abcd...'|reverse }} //...dcba

{{ '12345'|slice(1, 2) }} //23

{{ 101.51|round }} //102

{# Multiple filters #}
{{ 'abcd...'|slice(1, 2)|reverse }} //cb
  		</code></pre>
  	</section>
    <section>
      <h2>TWIG: Functions</h2>
      <pre><code data-trim contenteditable>
{{ path('conserto_beer') }}
{{ path('conserto_beer_show', { 'id': 42 }) }}
{{ path('conserto_beer_show', { 'id': entity.id }) }}

<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

{{ dump(myObject) }}
      </code></pre>
    </section>
    <section>
      <h2>Code separation</h2>
      <pre><code data-trim contenteditable>
<!-- app/Ressources/views/base.html.twig -->
&lt;!DOCTYPE html&gt;
&lt;html&gt;
  &lt;head&gt;...&lt;/head&gt;
  &lt;body&gt;
    {% block body %}{% endblock %}
  &lt;/body&gt;
&lt;/html&gt;

{# src/Conserto/Bundle/BeerBundle/Resources/views/Beer/index.html.twig #}
{% extends '::base.html.twig' %}
{% block body %}
{% if beer %}
    <p>Beer: {{ beer }}!</p>
{% endif %}
{% endblock %}
      </code></pre>
    </section>
    <section>
      <h2>Entities</h2>
      <ul>
        <li>Entity = Model (MVC)</li>
        <li>Looks like POJO: simple PHP class with attributes, constructor, getters and setters</li>
      </ul>
      <pre><code data-trim contenteditable>
# Generate entity with doctrine (also generate getters&setters):
$ php app/console generate:doctrine:entity

# Database creation/update
$ php app/console doctrine:schema:create
$ php app/console doctrine:schema:update
      </code></pre>
    </section>
    <section>
      <h2><img data-src="img/doctrine-logo.png" style="border:none; margin: 0; width:5%;">Doctrine</h2>
      <p><img data-src="img/doctrine.png" style="border:none; min-width:100%;"></p>
    </section>
    <section>
      <h2>Doctrine annotations</h2>
      <pre><code data-trim contenteditable>
/**
 * Beer
 *
 * @ORM\Table()
 * @ORM\Entity(repositoryClass="Conserto\BeerBundle\Entity\BeerRepository")
 */
class Beer
{
  /**
   * @var integer
   *
   * @ORM\Column(name="id", type="integer")
   * @ORM\Id
   * @ORM\GeneratedValue(strategy="AUTO")
   */
  private $id;

  /**
   * @var string
   *
   * @ORM\Column(name="name", type="string", length=255)
   */
  private $name;
  //...
      </code></pre>
    </section>
    <section>
      <h2>Doctrine principle</h2>
      <pre><code data-trim contenteditable>
$myBeer = new Beer();
$myBeer->setName('Kwak');
$myBeer->setAlcohol(8.4);

$anotherBeer = new Beer();
$anotherBeer->setName('Tripel Karmeliet');
$anotherBeer->setAlcohol(8.4);

//Step 1: Retrieve EntityManager service
$em = $this->getDoctrine()->getManager();

//Step 2: persist
$em->persist($myBeer);
$em->persist($anotherBeer);

//Step 3: Flush (generate&execute SQL)
$em->flush();
      </code></pre>
    </section>
    <section>
      <h2>Doctrine: retrieve object</h2>
      <pre><code data-trim contenteditable>
$em = $this->getDoctrine()->getManager();

$aBeer = $em->getRepository('ConsertoBeerBundle:Beer')->find($id);
$beers = $em->getRepository('ConsertoBeerBundle:Beer')->findAll();

$aBeer = $em->getRepository('ConsertoBeerBundle:Beer')->findOneByAbbey($abbey);
$beers = $em->getRepository('ConsertoBeerBundle:Beer')->findByAlcohol($alcohol);
      </code></pre>
    </section>
    <section>
      <h2>Doctrine: update/delete</h2>
      <pre><code data-trim contenteditable>
$em = $this->getDoctrine()->getManager();
//Update
$aBeer = $em->getRepository('ConsertoBeerBundle:Beer')->find(42);
aBeer->setAlcohol = 8.4;
$em->flush();

//Delete
$aBeer = $em->getRepository('ConsertoBeerBundle:Beer')->find(51);
$em->remove($beer);
$em->flush();
      </code></pre>
    </section>
    <section>
      <h2>Doctrine: custom request</h2>
      <pre><code data-trim contenteditable>
//src\Conserto\BeerBundle\Repository\BeerRepository.php
public function findByAbbeyAndAlcohol($abbey, $alcohol)
{
  $qb = $this->createQueryBuilder('b');

  $qb->where('b.abbey = :abbey')
     ->setParameter('abbey', $abbey)
     ->andWhere('b.alcohol < :alcohol')
     ->setParameter('alcohol', $alcohol)
     ->orderBy('b.name', 'DESC');

  return $qb
    ->getQuery()
    ->getResult()
  ;
}
      </code></pre>
    </section>
    <section>
      <h2>Doctrine: relations</h2>
      <ul>
        <li>One-to-one (1..1) <br><em>ex: Beer--Image</em></li>
        <li>Many-to-one (n..1) <br><em>ex: Abbey--Beer</em></li>
        <li>Many-to-many (n..n) <br><em>ex: Beer--Distributor</em></li>
      </ul>
      <p><a href="http://symfony.com/doc/current/book/doctrine.html"><i class="fa fa-book"></i> Doctrine in Symfony2</a></p>
      <p><a href="http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/"><i class="fa fa-book"></i> Doctrine documentation</a></p>
    </section>
    <section>
      <h2>Form component</h2>
      <pre><code data-trim contenteditable>
//src\Conserto\BeerBundle\Form\BeerType.php
public function buildForm(FormBuilderInterface $builder, array $options)
{
    $builder
        ->add('name')
        ->add('alcohol')
        ->add('desciption')
    ;
}
</code></pre><pre><code data-trim contenteditable>
//src\Conserto\BeerBundle\Controller\BeerController.php
$beer     = $em->getRepository('ConsertoBeerBundle:Beer')->find($id);
$editForm = $this->createForm(BeerType::class, $beer, array(
    'action' => $this->generateUrl('conserto_beer_update'),
    'method' => 'PUT'
));

return $this->render('ConsertoBeerBundle:Beer:edit.html.twig', array(
    'beer'      => $beer,
    'edit_form' => $editForm->createView()
));
      </code></pre>
      <pre><code data-trim contenteditable>
<!-- edit.html.twig -->
{{ form(edit_form) }} {# Will generate a HTML Form #}
      </code></pre>
    </section>
    <section>
      <h2>Bootstrap form theme <br>(since Symfony 2.6)</h2>
      <pre><code data-trim contenteditable>
# app/config/config.yml
twig:
    form_themes:
        - 'bootstrap_3_layout.html.twig'
      </code></pre>
      <a href="http://symfony.com/blog/new-in-symfony-2-6-bootstrap-form-theme">More information</a>
    </section>
    <section>
      <h2>Remember: <br>never trust user input!</h2>
      <p><img data-src="img/ntui.png" style="border:none; min-width:30%;"></p>
    </section>
    <section>
      <h2>Form validation</h2>
      <pre><code data-trim contenteditable>
&lt?php
use Symfony\Component\Validator\Constraints as Assert;

class Beer
{
  //...

  /**
   * @var string
   *
   * @ORM\Column(name="name", type="string", length=255)
   * @Assert\NotBlank()
   * @Assert\Length(
   *  min = 2,
   *  minMessage = "Your Beer must be at least {{ limit }} characters long"
   * )
   */
  private $name;
      </code></pre>
      <a href="http://symfony.com/doc/current/book/validation.html"><i class="fa fa-book"></i> Validation documentation</a>
    </section>
    <section>
      <h2>Service Container</h2>
      <p>Use <a href="#/di-pattern">Dependency Injection pattern</a></p>
      <div class="row">
        <div class="span5">
          <p><img data-src="img/serviceContainer.png" style="border:none; width:55%;"></p>
        </div>
        <div class="span7">
          <pre class="sticky"><code data-trim contenteditable>
# app/config/config.yml
services:
  my_mailer:
      class    : Conserto\HelloBundle\Mailer
      arguments: [sendmail]
          </code></pre>
          <pre class="sticky"><code data-trim contenteditable>
class WhateverController extends Controller
{
  public function sendEmailAction()
  {
    // ...
    $mailer = $this->get('aMailer');
    $mailer->send('contact@beerapp.io', ...);
  }
}
          </code></pre>
        </div>
      </div>
      <div style="margin-top: 25px;">
        <a href="http://symfony.com/doc/current/book/service_container.html"><i class="fa fa-book"></i> Service Container documentation</a>
      </div>
    </section>
  </section>
  <section>
    <section>
      <h2>Tips & tricks</h2>
      <p><img data-src="img/idea.jpg" style="border:none; width:20%;"></p>
    </section>
    <section>
      <h2>Code generation <i class="fa fa-heart"></i></h2>
      <p class="text-left">Crud generation (Controller, Form, Views, Routes)</p>
      <pre><code data-trim contenteditable>
$ php app/console generate:doctrine:crud
      </code></pre>
      <p class="text-left">Reverse engineering (generate entities from database)</p>
      <pre><code data-trim contenteditable>
$ php app/console doctrine:mapping:import --force AcmeBlogBundle xml
$ php app/console doctrine:mapping:convert annotation ./src
$ php app/console doctrine:generate:entities AcmeBlogBundle
      </code></pre>
    </section>
    <section>
      <h2>Useful commands</h2>
      <pre><code data-trim contenteditable>
$ alias sf='php app/console'
      </code></pre>
      <table class="table">
        <tr><td>list</td><td>Lists commands</td></tr>
        <tr><td>debug:router</td><td>Displays current routes for an application</td></tr>
        <tr><td>doctrine:generate:entity</td><td>Generates a new Doctrine entity inside a bundle</td></tr>
        <tr><td>doctrine:generate:entities</td><td>Generates entity classes and method stubs from your mapping information</td></tr>
        <tr><td>doctrine:schema:update</td><td>Executes (or dumps) the SQL needed to update the database schema to match the current mapping metadata</td></tr>
      </table>
    </section>
    <section>
      <h2>Useful tools</h2>
      <ul>
        <li>Grunt/Gulp: Task Runner (clear cache, assetics compilation...)</li>
        <li>Mailcatcher: catch mails</li>
        <li><a href="https://blackfire.io/">Blackfire.io</a>: Profiling Web Pages</li>
      </ul>
      <br>
      <iframe width="536" height="332" src="https://www.youtube.com/embed/AygjcT_lsQI" frameborder="0" allowfullscreen></iframe>
    </section>
    <section>
      <h2>Deployment</h2>
      <ul>
        <li>Clear cache</li>
        <li>Check server configuration ($ php app/check.php)</li>
        <li>Use cache</li>
        <li>Verify your secret key (app/config/parameters.yml)</li>
        <li>Disable dev mode (app_dev.php)</li>
        <li>Customize errors pages</li>
        <li>Use cache !</li>
      </ul>
    </section>
    <section>
      <h2>Useful bundles</h2>
      <ul>
        <li><a href="https://github.com/FriendsOfSymfony/FOSUserBundle">FOSUserBundle</a></li>
        <li><a href="https://github.com/FriendsOfSymfony/FOSRestBundle">FOSRestBundle</a></li>
        <li><a href="https://github.com/doctrine/DoctrineFixturesBundle">DoctrineFixturesBundle</a></li>
        <li><a href="https://github.com/stof/StofDoctrineExtensionsBundle">StofDoctrineExtensionsBundle</a></li>
        <li><a href="https://github.com/schmittjoh/JMSSerializerBundle">JMSSerializerBundle</a></li>
        <li><a href="https://github.com/nelmio/NelmioApiDocBundle">NelmioApiDocBundle</a></li>
        <li><a href="https://github.com/lexik/LexikMaintenanceBundle">LexikMaintenanceBundle</a></li>
      </ul>
    </section>
    <section>
      <h2>Coding standards</h2>
  		<p>Please, stick the PSR (PHP Standard Recommendations)</p>
  		<a href="http://www.php-fig.org/">http://www.php-fig.org</a>
      <p>
        Tools: <a href="https://github.com/squizlabs/PHP_CodeSniffer">PHP_CodeSniffer</a> and <a href="https://github.com/FriendsOfPHP/PHP-CS-Fixer">PHP-CS-Fixer</a>
      </p>
    </section>
    <section>
      <h2>.editorconfig file</h2>
      <div class='span6 fragment'>
        <pre><code data-trim contenteditable>
# .editorconfig (editorconfig.org)
root = true
[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[**.js]
indent_style = space
indent_size = 2

[**.php]
indent_style = space
indent_size = 4
        </code></pre>
      </div>
      <div class='span6 fragment'>
        <img data-src="img/editorConfig.png" style="border:none; width:89%;">
      </div>
    </section>
    <section>
      <h2>Don't forget</h2>
      <ul>
        <li>Refactor</li>
        <li>Refactor</li>
        <li>Refactor</li>
        <li>Refactor</li>
        <li>Refactor</li>
        <li>...</li>
      </ul>
    </section>
    <section>
      <h2>About Symfony3</h2>
      <ul>
        <li>Symfony2 code can run in Symfony3</li>
        <li>Checkout @deprecated annotation (in official doc)</li>
        <li><a href="https://github.com/symfony/symfony/blob/2.8/UPGRADE-3.0.md">Upgrade from 2.8 to 3.0</a></li>
      </ul>
    </section>
  </section>
  <section>
    <h2>Thank you</h2>
    <h3>Questions?</h3>
    <p><img data-src="img/elephant-jump.gif" style="border:none;"></p>
  </section>
</div>
</div>
<script src="../../reveal.js/lib/js/head.min.js"></script>
<script src="../../reveal.js/js/reveal.js"></script>
<script>
// Full list of configuration options available at:
// https://github.com/hakimel/reveal.js#configuration
Reveal.initialize({
	controls: true,
	progress: true,
	slideNumber: true,
	history: true,
	center: true,
  width: 1000,
  height: 700,

	transition: 'convex', // none/fade/slide/convex/concave/zoom

// Optional reveal.js plugins
dependencies: [
	{ src: '../../reveal.js/lib/js/classList.js', condition: function() { return !document.body.classList; } },
	{ src: '../../reveal.js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
	{ src: '../../reveal.js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
	{ src: '../../reveal.js/plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
	{ src: '../../reveal.js/plugin/zoom-js/zoom.js', async: true },
	{ src: '../../reveal.js/plugin/notes/notes.js', async: true }
]
});

</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67868977-1', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>
